{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="font-weight-light">{{ artist.artist_name }}</h1>

                <h2>Artworks</h2>
                <div class="row">
                    {% for artwork in artwork_list %}
                        <div class="col-md-4">
                            <figure class="card card-product-grid mb-3">
                                <div class="img-wrap">
                                    <a href="{{ artwork.get_url }}"><img src="{{ artwork.image.url }}"
                                                                         class="img-fluid"></a>
                                </div>
                                <figcaption class="info-wrap">
                                    <div class="fix-height">
                                        <a href="{{ artwork.get_url }}" class="title">{{ artwork.artwork_title }}</a>
                                        <span class="price">${{ artwork.price }}</span>
                                        <a href="{{ artwork.get_url }}" class="artist">{{ artwork.artist_name }}</a>
                                    </div>
                                    <a href="{% url 'add_cart' artwork.id %}" class="btn btn-block btn-primary mt-3">Add
                                        to Cart</a>
                                </figcaption>
                            </figure>
                        </div>
                    {% empty %}
                        <div class="col-md-12">
                            <p>No artwork found.</p>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-4">
                <h3>Artist Information</h3>
                <p>{{ artist.description }}</p>
                <p>{{ artist.artist_email.email }}</p>
            </div>
        </div>
    </div>
{% endblock %}