{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="section-content padding-y bg">
        <div class="container">

            <!-- ============================ COMPONENT 1 ================================= -->
            <div class="card">
                <div class="row no-gutters">
                    <aside class="col-md-6">
                        <article class="gallery-wrap">
                            <div class="img-big-wrap">
                                <a href="#"><img src="{{ single_artwork.image.url }}"></a>
                            </div> <!-- img-big-wrap.// -->
                        </article> <!-- gallery-wrap .end// -->
                    </aside>
                    <main class="col-md-6 border-left">
                        <article class="content-body">
                            <h2 class="title">{{ single_artwork.artwork_title }}</h2>
                            <h2 class="title">{{ single_artwork.price }}</h2>
                            <p>{{ single_artwork.description }}</p>

                            {% if single_artwork.auction.is_active %}
                                <p>Time Remaining: <span id="timer" style="font-size: 36px; color: red;"></span></p>

                                <table class="table scrollable-table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Bid Price</th>
                                        <th scope="col">Bidder</th>
                                        <th scope="col">Bid Time</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for bid in auction.get_bids %}
                                        <tr>
                                            <td>{{ bid.amount }}</td>
                                            <td>{{ bid.user }}</td>
                                            <td>{{ bid.bid_time }}</td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="3">No bids yet.</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% if user.is_authenticated %}
                                    <a href="{% url 'place_bid' genres_slug=single_artwork.genre.slug artwork_slug=single_artwork.slug %}"
                                       class="btn btn-primary">Place Bid</a>
                                {% endif %}
                            {% else %}
                                <div class="mb-3">
                                    <var class="price h4">Rs. {{ single_artwork.price }}</var>
                                </div>
                            {% endif %}
                            {% if single_artwork.is_auction %}
                                <p>Auction ends on: {{ single_artwork.auction_end_date }}</p>
                            {% endif %}
                            {% if in_cart %}
                                <a href="" class="btn btn-success disabled">
                                    <span class="text">Added to cart</span>
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                                <a href="{% url 'cart' %}" class="btn btn-primary">
                                    <span class="text">View cart</span>
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            {% else %}
                                <a href="{% url 'add_cart' single_artwork.id %}" class="btn btn-primary">
                                    <span class="text">Add to cart</span>
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            {% endif %}

                            {% if user.is_authenticated %}
                                <form method="POST"
                                      action="{% url 'artwork_detail' genres_slug=single_artwork.genre.slug artwork_slug=single_artwork.slug %}">
                                    {% csrf_token %}
                                    {% if user_liked_artwork %}
                                        <input type="hidden" name="action" value="unlike">
                                        <button type="submit" class="btn btn-danger">
                                            <i class="bi bi-heart"></i> Remove from Favorites
                                        </button>
                                    {% else %}
                                        <input type="hidden" name="action" value="like">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="bi bi-heartbreak"></i> Add to Favorites
                                        </button>
                                    {% endif %}
                                </form>
                            {% else %}
                                <p>You need to be logged in to add to Favorites
                            {% endif %}

                            <br>

                </div> <!-- container .//  -->

                {# Comment Section #}
                <div class="container">
                    <div class="card">
                        <div class="row mb5">
                            <div class="col-md-9">

                                <header class="section-heading">
                                    <h3>Comments</h3>

                                </header>

                                {% for comment in artwork_comments %}
                                    <article class="box mb-3">
                                        <div class="icontext w-100">
                                            <div class="text">
                                                <span class="date text-muted float-md-right">{{ comment.date }}</span>
                                                <h6 class="mb-1">{{ comment.user.username }}</h6>
                                            </div>
                                        </div>

                                        <div class="mt-3">
                                            <p>{{ comment.content }}</p>
                                        </div>
                                    </article>
                                {% endfor %}

                                {% if user.is_authenticated %}
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                    <textarea class="form-control" id="comment_content" name="comment_content"
                                              rows="3"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Comment</button>
                                    </form>
                                {% else %}
                                    <p>You must be logged in to post a comment.</p>
                                {% endif %}
                            </div>

                        </div> <!-- col.// -->
                    </div> <!-- row.// -->
                </div>
                {# Chat #}
                <div class="container mt-4">
                    <div class="card">
                        <div class="card-header">
                            Chat Room
                        </div>
                        <div class="card-body">
                            <div class="container" id="messagescontainer" style="overflow-y: auto">
                                <div id="lefttext">Hello!</div>
                                <br>
                                <div id="lefttext">Hi</div>
                                <br>
                            </div>
                            <div>
                                <input id="messageinputfield" class="form-control" type="text">
                                <br><br>
                                <input id="sendbutton" class="btn btn-primary" type="submit" value="Send">
                            </div>
                        </div>
                    </div>
                </div>

    </section>
    {# Comment Section #}
    <!-- ========================= SECTION CONTENT END// ========================= -->
    <style>
        .scrollable-table {
            max-height: 300px;
            overflow-y: scroll;
        }
    </style>

    <script>
        function countdown_timer(end_time) {
            const countdown = setInterval(() => {
                {#console.log(end_time)#}
                {#const end_time_local = new Date(end_time).toLocaleString('en-US', {timeZone: 'Asia/Katmandu'});#}
                {#console.log(end_time_local)#}
                const now = new Date().getTime();
                {#console.log(now)#}
                const distance = new Date(end_time) - now;
                {#console.log('Difference:' + distance)#}
                const seconds = Math.floor(distance / 1000);

                if (distance <= 0) {
                    clearInterval(countdown);
                    document.getElementById("timer").innerHTML = "Auction has ended";
                } else {
                    const hours = Math.floor(seconds / 3600);
                    const minutes = Math.floor((seconds % 3600) / 60);
                    const remaining_seconds = Math.floor(seconds % 60);


                    const formatted_time = `${hours.toString().padStart(2, "0")}:${minutes.toString().padStart(2, "0")}:${remaining_seconds.toString().padStart(2, "0")}`;
                    document.getElementById("timer").innerHTML = formatted_time;
                }
            }, 1000)
        }

        countdown_timer('{{ auction.end_time.isoformat }}');
    </script>
    <style>
        #lefttext {
            display: inline-block;
            left: 20px;
            margin-top: 5px;
            margin-bottom: 5px;
            border-radius: 5px;
            padding: 3px 6px;
            color: white;
            background-color: #0079ef;
        }
    </style>


    {# Javascript to interact chat with the websocket backend #}
    <script type="text/javascript">
        // Get the current URL
        const currentUrl = window.location.href;

        // Extract the genre slug from the URL using a regular expression
        const match = currentUrl.match(/\/(\w+)\/([\w-]+)\/$/);
        const genreSlug = match[1];
        const artworkSlug = match[2];

        // Construct the WebSocket URL using the extracted slugs
        const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/' + genreSlug + '/' + artworkSlug + '/');

        // instructions to send the message
        document.querySelector('#sendbutton').onclick = function (e) {
            const message = document.querySelector('#messageinputfield').value
            if (chatSocket.readyState === WebSocket.OPEN) {
                chatSocket.send(JSON.stringify({'message': message}))
                document.querySelector('#messageinputfield').value = ''
                console.log('Message Sent')
            } else {
                console.error('WebSocket is not open')
            }
        }

        // instructions to recieve the message
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data)
            console.log(data)
            document.querySelector('#messagescontainer').innerHTML += '<div id="lefttext">' + data.message + '</div>' + '<br>'
            scrollToBottom()
        }

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#messageinputfield').onkeyup = function (e) {
            if (e.keyCode === 13) {
                document.querySelector('#sendbutton').click()
                console.log('Enter')
            }

        }

        function scrollToBottom() {
            document.querySelector('#messagecontainer').scrollTo({
                top: document.querySelector('#messagecontainer').scrollHeight,
                behaviour: 'smooth'
            })
        }

    </script>

{% endblock %}

