{% extends 'base.html' %}

{% block content %}
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y bg">

        {% include 'includes/alerts.html' %}
        <div class="container">
            <div class="row">
                <aside class="col-md-3">
                    <!--   SIDEBAR   -->
                    <ul class="list-group">
                        <a class="list-group-item active" href="{% url 'update_profile' %}">Edit Profile</a>
                        {% if not user.is_verified_artist %}
                            <a class="list-group-item" href="{% url 'submit_portfolio' %}">Submit Art Portfolio</a>
                        {% endif %}
                    </ul>
                    <br>
                    <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span
                            class="text">Log out</span> </a>
                    <!--   SIDEBAR .//END   -->
                </aside>

                {% block content-2 %}

                {% endblock content-2 %}
                </main>
            </div>
        </div>
    </section>
    <!-- row.// -->
    </div>


    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}