{% extends 'forum_base.html' %}
{% load hitcount_tags %}

{% block content %}
<body>
    <div class="container">
        <div class="navigation">
            <span><a href="#">Chitrakon Forum - Forums</a> >> <a href="{{ post.categories }}">{{ post.categories }}</a> >> <a href="{{ post.get_url }}">{{ post.title }}</a> </span>
        </div>

        <table class="table table-detail">
            <thead>
              <tr>
                <th scope="col author" class="text-center">{{ post.user }}</th>
                <th scope="col topic">Topic: {{ post.title }} ({% get_hit_count for post %} Views)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row" class="username"><a href="#">{{ post.user.full_name|title }}</a>
                    <br>
                    <img class="avatar" src="{{ post.user.profileImage.url }}">
                </td>
                <td class="content">
                    {{ post.content|safe }}
                    <div class="comment">
                      <button class="btn btn-primary align-right" id="comment-btn" onclick="showComment()">Comment</button>
                    </div>
                    
                    <!-- Comment input -->
                    <div class="container comment-area" hidden id="comment-area">
                      <textarea name="comment" class="row"></textarea>
                      
                      <input class="btn btn-primary row" type="submit" name="" value="Submit">
                    </div>
                    
                </tr>

            </tbody>
        </table>
        <table class="table table-detail reply-table">
            <thead>
              <tr>
                <th scope="col author" class="text-center">Author</th>
                <th scope="col topic">Comment</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row" class="username"><a href="#">Username2</a>
                    <br>
                    <div>Role</div>
                    <img class="avatar" src="https://cdn.pixabay.com/photo/2014/10/27/18/38/man-505353_960_720.jpg">
                    <div>Posts: 7</div>
                </td>
                <td class="content">
                    Hi everyone, <br><br>

                    I completely understand the frustration that comes with an artist turning down a commission due to the price being too high. However, it's important to remember that artists often set their prices based on the amount of time and effort they believe a piece will require, as well as the materials and quality they want to deliver. <br><br>

                    If an artist feels that the price set is not enough to meet the desired quality, it's probably best for them to decline the commission. It's better to decline now than to deliver a subpar piece that does not meet the client's expectations or the artist's own standards. <br><br>

                    In these situations, it may be worth considering finding an artist whose prices align more with your budget or negotiating a price that works for both parties. Ultimately, the most important thing is to find an artist who can deliver the quality you're looking for at a price you're comfortable with. <br><br>

                    Best regards.<br><br>
                    <div class="comment">
                      <button class="btn btn-primary align-right" id="reply-btn" onclick="showReply()">Reply</button>
                    </div>
                    
                    <!-- Comment input -->
                    <div class="container comment-area" hidden id="reply-area">
                      <textarea name="comment" class="row"></textarea>
                      
                      <input class="btn btn-primary row" type="submit" name="" value="Reply">
                    </div>
                    
                </tr>

            </tbody>
        </table>
        

              
            </div>
            <ul class="pagination justify-content-center">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
            
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <script src="main.js"></script>


{% endblock %}