{% extends 'forum_base.html' %}
{% load static %}

{% block content %}

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light forum-nav">
        <div class="container">          
          <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
              <form action="{% url 'search_result' %}" role="form" method="GET" name="">
                  <div class="search-box">
                      <div>
                          <select name="search-box" id="">
                              <option value="Everything">Everything</option>
                              <option value="Titles">Titles</option>
                              <option value="Descriptions">Descriptions</option>
                          </select>
                          <input type="text" name="q" typeof="Search" placeholder="Search...">
                          <button type="submit" name="search" class="btn btn-light"><i class="fa fa-search"></i></button>
                      </div>
                  </div>
              </form>
              {% if user.is_authenticated %}
              <div class="create-new-btn">
                <a class="btn btn-primary" href="{% url 'create_post' %}"><i class="bi bi-file-earmark-plus"></i> Create New Post</a>
              </div>
              {% endif %}
          </div>
        </div>
      </nav>
</header>

<body>
    <div class="container">
        
        <div class="subforum">
            <div class="subforum-title ">
                <h4>Available Categories</h4>
            </div>
            {% for forum in forums %}
            <div class="card">
                <div class="card-body">
                    <div class="subforum-row row">
                            <div class="col-md-1 center-top-bottom">
                                <p class="category">Category</p>
                            </div>
                        <div class="subforum-description col-md-8 mb-0 mt-0">
                            <h4><a href="{{ forum.get_url }}">{{ forum.title }}</a></h4>
                            <p>{{ forum.description }}</p>
                        </div>
                        <div class="col-md-3">
                            <div class="subforum-stats">
                                <span>{{ forum.num_posts }} Post/s</span>
                            </div>
                            <div class="subforum-info">
                                <a href="{{ forum.last_post.get_url }}">Last Post</a> by <a href="">{{ forum.last_post.user.full_name }}</a>
                                <br>
                                on <small>{{ forum.last_post.date|date }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <!-- Forum Info -->
    <div class="forum-info">
        <div class="chart">
            Chitrakon Forum - Stats &nbsp; <i class="bi bi-bar-chart-fill"></i>
        </div>
        <div>
            <span><b>22 Posts</b> in <b>4 Topics</b> by <b>9 Users</b></span>
            <br>
            <span>Latest Post: <a href="">Latest Post</a> on 31 Jan 2023 by <a href="">User</a></span>

        </div>
    </div>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <script src={% static 'js/main.js' %}></script>
</body>

{% endblock %}
</html>