{% extends 'base.html' %}
{% load static  %}

{% block content %}
{% include 'includes/alerts.html' %}
    <!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">

<div class="row">
	<aside class="col-md-3">

<div class="card">
    <article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
				<i class="icon-control fa fa-chevron-down"></i>
				<h6 class="title">Genres</h6>
			</a>
		</header>

        <div class="filter-content collapse show" id="collapse_1" style="">
			<div class="card-body">

				<ul class="list-menu">
                        <li><a class="dropdown-item" href="{% url 'home' %}">All Products</a></li>
                    {% for genre in links %}
                        <li><a class="dropdown-item" href="{{ genre.get_url }}">{{ genre.title }}</a></li>
				    {% endfor %}
				</ul>

			</div> <!-- card-body.// -->
		</div>

	</article> <!-- filter-group  .// -->

	<article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
				<i class="icon-control fa fa-chevron-down"></i>
				<h6 class="title">Mediums</h6>
			</a>
		</header>


		<div class="filter-content collapse show" id="collapse_1" style="">
			<div class="card-body">

				<ul class="list-menu">
                        <li><a class="dropdown-item" href="{% url 'home' %}">All Products</a></li>
                    {% for medium in medium_links %}
                        <li><a class="dropdown-item" href="{{ medium.get_url }}">{{ medium.medium_title }}</a></li>
				    {% endfor %}
				</ul>

			</div> <!-- card-body.// -->
		</div>
	</article> <!-- filter-group  .// -->


	<article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
				<i class="icon-control fa fa-chevron-down"></i>
				<h6 class="title">Price range </h6>
			</a>
		</header>
		<div class="filter-content collapse show" id="collapse_3" style="">
			<div class="card-body">

				<div class="form-row">
				<div class="form-group col-md-6">
				  <label>Min</label>
				  <!-- <input class="form-control" placeholder="$0" type="number"> -->
				  	<select class="mr-2 form-control">
						<option value="0">$0</option>
						<option value="50">$50</option>
						<option value="100">$100</option>
						<option value="150">$150</option>
						<option value="200">$200</option>
						<option value="500">$500</option>
						<option value="1000">$1000</option>
					</select>
				</div>
				<div class="form-group text-right col-md-6">
				  <label>Max</label>
				  	<select class="mr-2 form-control">
						<option value="50">$50</option>
						<option value="100">$100</option>
						<option value="150">$150</option>
						<option value="200">$200</option>
						<option value="500">$500</option>
						<option value="1000">$1000</option>
						<option value="2000">$2000+</option>
					</select>
				</div>
				</div> <!-- form-row.// -->
				<button class="btn btn-block btn-primary">Apply</button>
			</div><!-- card-body.// -->
		</div>
	</article> <!-- filter-group .// -->

</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<main class="col-md-9">

<header class="border-bottom mb-4 pb-3">
		<div class="form-inline">
			<span class="mr-md-auto">{{ artworks.count }} Items found </span>

		</div>
</header><!-- sect-heading -->

<div class="row">
    {% if artworks %}
    {% for artwork in artworks %}
	<div class="col-md-4">
		<figure class="card card-product-grid">
			<div class="img-wrap">
                <a href="{{ artwork.get_url }}"><img src="{{ artwork.image.url }}"></a>


			</div> <!-- img-wrap.// -->
			<figcaption class="info-wrap">
				<div class="fix-height">
					<a href="{{ artwork.get_url }}" class="title">{{ artwork.artwork_title}}</a>
                    <span class="price">${{ artwork.price }}</span>

                        <a href="{{ artwork.get_url }}" class="title">{{ artwork.artist_name }}</a>


				</div>
				<a href="{% url 'add_cart' artwork.id %}" class="btn btn-block btn-primary">Add to Cart</a>
			</figcaption>
		</figure>
	</div> <!-- col.// -->
    {% endfor %}
    {% else %}
        <div>
        <h6 class="text-center">Nothing found. Try again with another search term.</h6>
        </div>
    {% endif %}
</div> <!-- row end.// -->


<nav class="mt-4" aria-label="Page navigation sample">
    {% if artworks.has_other_pages %}
      <ul class="pagination">
      {% if artworks.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ artworks.previous_page_number }}">Previous</a></li>
      {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        {% endif %}

        {% for i in artworks.paginator.page_range %}
            {% if artworks.number == i %}
            <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if artworks.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ artworks.next_page_number }}">Next</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>

        {% endif %}
      </ul>
    {% endif %}
</nav>

	</main> <!-- col.// -->

</div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}