{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">

        <!-- ============================ COMPONENT 1 ================================= -->
        <div class="row">
            <aside class="col-lg-8">
                <div class="card">
                    <h5 class="card-header">Billing Address</h5>
                    <div class="card-body">
                        <p class="card-text mb-0">{{ order.full_name }}</p>
                        <p class="card-text mb-0">{{ order.address }}</p>
                        <p class="card-text mb-0">{{ order.email }}</p>
                        <p class="card-text mb-0">{{ order.phone }}</p>
                        {% if order.order_note %}
                            <b>Order note: </b>{{ order.order_note }}
                        {% endif %}
                    </div>
                </div> <!-- card.// -->
                <div class="card">
                    <h5 class="card-header">Payment Method</h5>
                    <div class="card-body">
                        <p class="card-text">Khalti</p>
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Review Products</h5>
                    <div class="card-body">
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Product</th>
                                <th scope="col" width="120">Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for cart_item in cart_items %}
                                <tr>
                                    <td>
                                        <figure class="itemside align-items-center">
                                            <div class="aside"><img src="{{ cart_item.artwork.image.url }}"
                                                                    class="img-sm"></div>
                                            <figcaption class="info">
                                                <a href="{{ cart_item.artwork.get_url }}"
                                                   class="title text-dark">{{ cart_item.artwork.artwork_title }}</a>
                                                <p class="text-muted small">{{ cart_item.artwork.artist_name }}<br> {{ cart_item.artwork.medium_title }}
                                                    - {{ cart_item.artwork.genre }}</p>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <div class="price-wrap">
                                            <var class="price">Rs. {{ cart_item.artwork.price }}</var>
                                        </div> <!-- price-wrap .// -->
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </aside> <!-- col.// -->
            <aside class="col-lg-4">

                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd class="text-right">{{ order_total }}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Discount:</dt>
                            <dd class="text-right"> {{ discount }}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Grand Total:</dt>
                            <dd class="text-right text-dark b"><strong>{{ grand_total }}</strong></dd>
                        </dl>
                        <hr>
                        <p class="text-center mb-3">
                            <img src="{% static './images/misc/payments.png' %}" height="26">
                        </p>
                        <button id="checkout-button" class="btn btn-primary btn-block"> Make Payment</button>
                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->
                <!-- ========================= SECTION CONTENT END// ========================= -->

                {#    Khalti Integration    #}
                <script src="https://khalti.com/static/khalti-checkout.js"></script>
                <script>
                    var config = {
                        "publicKey": "test_public_key_f5e3ba1a137c442d8e718a93c481b15e",
                        "productIdentity": "{{ order }}",
                        "productName": "{{ cart_items.0.artwork.artwork_title }}",
                        "productUrl": "{{ request.build_absolute_uri }}",
                        "eventHandler": {
                            onSuccess(payload) {
                                // The payment was successful. You can update the order status in your backend here.
                                console.log(payload);
                                window.location.href = "{% url 'payment_success' %}";
                            },
                            onError(error) {
                                // The payment failed. You can display an error message to the user here.
                                console.log(error);
                            },
                            onClose() {
                                console.log('widget is closing');
                            }
                        }
                    };

                    var checkout = new KhaltiCheckout(config);

                    var button = document.getElementById("checkout-button");
                    button.addEventListener("click", function () {
                        checkout.show({
                            amount: {{ grand_total }},
                            mobile: '{{ order.phone }}',
                            email: '{{ order.email }}'
                        });
                    });
                </script>

                <!-- Khalti JS -->
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}